In [1]:
from transformers import pipeline, set_seed, AutoTokenizer, AutoModelForSeq2SeqLM, Seq2SeqTrainingArguments, Seq2SeqTrainer

In [2]:
from tqdm import tqdm

In [3]:
tokenizer = AutoTokenizer.from_pretrained("./conversation-summ/checkpoint-256000/")
model =   AutoModelForSeq2SeqLM.from_pretrained("./conversation-summ/checkpoint-256000/")

In [1]:
import pandas as pd

# Load your CSV file using pandas
test_df = pd.read_csv('./test.csv')
train_df = pd.read_csv('./train.csv')
val_df = pd.read_csv('./valid.csv')

In [6]:
test_df.head()

,text,summary
0,Leading exporting countries of fish and fisher...,The European Union was the top exporter of fis...
1,Average number of mobile games played daily an...,The graph shows information on the average dai...
2,Malaysia : Birth rate from 2008 to 2018 ( per ...,This statistic depicts the crude birth rate in...
3,"To prevent the spread of coronavirus , would y...","In 2020 , a high percentage of respondents in ..."
4,Top ten PACs advocating for Hillary Clinton 's...,This statistic shows the top ten PACs advocati...

In [6]:
data = test_df.iloc[0]['text']
data

'Leading exporting countries of fish and fishery products worldwide in 2019 ( in billion U.S. dollars ) Country, x-y labels Exports in million U.S. dollars, x-y values EU** 36.2 , China 22.7 , Norway 11.9 , Vietnam 9.5 , Chile 6.7 , India 6.6 , Thailand 5.7 , United States 5.5 , Canada 5.5 , Ecuador 5.4 , Russia 5.4 , Indonesia 4.4 , '

In [7]:
tokens = tokenizer.encode(data,  truncation=True, padding='max_length', return_tensors='pt')
generated = model.generate(tokens, num_beams=4, max_length=256)
tgt_text = tokenizer.decode(generated[0], skip_special_tokens=True, clean_up_tokenization_spaces=True)
summary = str(tgt_text).strip('[]""')

In [8]:
summary

'In 2019, the European Union was the leading exporter of fish and fishery products to the rest of the world, with an export value of approximately 36.2 billion U.S. dollars. China, ranked second, exported approximately 22.7 billion dollars worth of fish/fishery products that year.'

In [9]:
len(test_df)

5222

In [4]:
from tqdm import tqdm

In [11]:
with open("pred_summary.txt", "a") as file:

    for i in tqdm(range(len(test_df))):
        data = test_df.iloc[i]['text']

        tokens = tokenizer.encode(data,  truncation=True, padding='max_length', return_tensors='pt')
        generated = model.generate(tokens, num_beams=4, max_length=256)
        tgt_text = tokenizer.decode(generated[0], skip_special_tokens=True, clean_up_tokenization_spaces=True)
        summary = str(tgt_text).strip('[]""')
        
        file.write(summary +  "\n")

100%|██████████| 5222/5222 [2:32:01<00:00,  1.75s/it]

In [12]:
with open("original_summary.txt", "a") as file:
    
    for i in tqdm(range(len(test_df))):
        data = test_df.iloc[i]['summary']
        
        file.write(data + "\n")

100%|██████████| 5222/5222 [00:00<00:00, 23737.08it/s]

In [10]:
len(test_df)

5222

In [2]:
test_df.iloc[0]['text']

'Leading exporting countries of fish and fishery products worldwide in 2019 ( in billion U.S. dollars ) Country, x-y labels Exports in million U.S. dollars, x-y values EU** 36.2 , China 22.7 , Norway 11.9 , Vietnam 9.5 , Chile 6.7 , India 6.6 , Thailand 5.7 , United States 5.5 , Canada 5.5 , Ecuador 5.4 , Russia 5.4 , Indonesia 4.4 , '

In [5]:
with open("test_data.txt", "a") as file:
    for i in tqdm(range(len(test_df))):
        data = test_df.iloc[i]['text']
        
        file.write(data + "\n")

100%|██████████| 5222/5222 [00:00<00:00, 23866.30it/s]